/* CSS RESET - undo the varying default styling applied by web browsers to HTML elements */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  /* text-rendering: optimizeSpeed; */
  line-height: 1.5;

}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* sr-only is for screen reader use only - The element will be visually hidden but will still be read by screen reader technology. */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

/*  A big shout out to Andy Bell at https://andy-bell.co.uk/about/
    For his great article " A Modern CSS Reset " I recommend giving it a read at https://andy-bell.co.uk/a-modern-css-reset/
*/


/* MY CUSTOM CSS RULES BELOW */

/* Reusable Custom CSS Variables */
:root {
  /* Measurments */
  --width_row-width-percentage: 90%;
  --color_highlight: #339900;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  font-family: "League Spartan", sans-serif;
  /* background-image: url("./assets/background-stars.svg"); */
  background-color: #070724;
  color: #FFF;
}

h1 {
  font-family: "Antonio", sans-serif;
  font-size: 80px;
  line-height: 103px;
}

h2 {
  font-family: "Antonio", sans-serif;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 1.5;
}

h3 {
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 2.6;
}

h4 {
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 1;
}

p {
  font-size: 14px;
  line-height: 25px;
}



.main {
  background-image: url("./assets/background-stars.svg");
  background-repeat: repeat;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.col-main-info {
  width: 300px; /* Update to not be fixed width later */
  gap: 10px;
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 6px 15px;
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

header nav ul li {
    margin-right: 30px;
}

header nav ul li a {
    text-decoration: none;
    color: #000;

}

.main {
  display: flex;
  /* align-self: flex-end; */
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 70%;
  /* height: 100%; */

  border: 3px solid yellow;
  gap: 100px;
}

.main-row {
  border: 3px solid green;
  justify-content: flex-end;
}

.main-row .col {
  border: 3px solid red;
}

.btn--info-select {
  display: flex;
  border: 1px solid #838391;
  width: 100%;
  background-color: #070724;
  color: #FFF;
  padding: 5px 15px;

  font-size: 12px;
  line-height: 25px;
  letter-spacing: 2.6;
}

.btn--info-select span {
  margin-right: 20px;
}

.info-box-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info-box {
  border: 1px solid #838391;
  width: 20%;
  padding: 10px 15px;
  /* Update to not be fixed height later */
}

.other-states-hide {
  display: none;
}



/* TURN BORDER LINES FOR TESTING OFF - DELETE WHEN LAYOUT COMPLETED */

/* .main, .main-row, .main-row .col {
  border: none;
} */